@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Source+Code+Pro&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::root {
  font-size: 13px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat';
  height: 100vh;
  overflow: hidden;
}

header.mobile {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 10%;
  background-color: #000;
  -webkit-box-shadow: 0px 0px 30px 20px #000;
          box-shadow: 0px 0px 30px 20px #000;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 1;
}

header.mobile .logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 3%;
}

header.mobile .logo__name {
  color: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
}

header.mobile .logo__icon {
  color: #fff;
  font-size: 1.2rem;
}

header.mobile .menu__icon {
  color: #fff;
  font-size: 1.8rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
  margin-right: 3%;
}

header.mobile .menu__list {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: -400%;
  width: 100%;
  height: 20%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
}

header.mobile .activeNavigation {
  top: 70%;
}

header.mobile .menu__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: 700;
  padding: 10px;
  border: 2px solid transparent;
  text-align: center;
  border-radius: 2%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 2px solid green;
  width: 80%;
}

header.mobile .menu__link {
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 1rem;
}

header.desktop {
  display: none;
  width: 100%;
  height: 10%;
  background-color: #000;
  -webkit-box-shadow: 0px 0px 30px 20px #000;
          box-shadow: 0px 0px 30px 20px #000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header.desktop .logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 3%;
}

header.desktop .logo__name {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
}

header.desktop .logo__icon {
  color: #fff;
  font-size: 1.8rem;
}

header.desktop .menu__list {
  width: 55%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  margin-right: 2%;
}

header.desktop .menu__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: 700;
  padding: 5px;
  border: 2px solid transparent;
  text-align: center;
  border-radius: 2%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header.desktop .menu__link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: green;
  font-size: 1rem;
}

header.desktop .menu__item:hover {
  border: 2px solid #fff;
}

header.desktop li#activeLink a {
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  font-size: 1.4rem;
}

header.desktop li#activeLink:hover {
  border: 2px solid transparent;
}

.content__mobile {
  display: block;
  position: relative;
  width: 100%;
  height: 90%;
  background-image: url("../images/index-background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.content__mobile .content__background-shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.content__mobile .content__board {
  position: absolute;
  height: 55%;
  width: 70%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(0, 130, 0, 0.3);
  -webkit-box-shadow: 0px 0px 10px 2px #6d6a6a;
          box-shadow: 0px 0px 10px 2px #6d6a6a;
  border-radius: 2%;
  z-index: 2;
  padding: 10px;
  font-size: 0.8rem;
  color: #fff;
  overflow: hidden;
}

.content__mobile .content__board .board__text {
  display: inline;
  font-family: 'Source Code Pro', monospace;
}

.content__mobile .content__board .board__cursor {
  opacity: 0;
}

.content__mobile .content__board .board__cursor.active {
  opacity: 1;
}

.content__mobile .content__animation {
  height: 100%;
  width: 100%;
}

.content__mobile .content__animation .content__all span {
  display: block;
  color: green;
  position: absolute;
  -webkit-animation: contentAnimationNumber 12s linear infinite;
          animation: contentAnimationNumber 12s linear infinite;
  opacity: 0.5;
}

.content__mobile .content__animation .content__all span:nth-child(1) {
  top: -10%;
  left: 5%;
  font-size: 3rem;
}

.content__mobile .content__animation .content__all span:nth-child(2) {
  top: -10%;
  left: 60%;
  font-size: 2rem;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.content__mobile .content__animation .content__all span:nth-child(3) {
  top: -10%;
  left: 32%;
  font-size: 3rem;
  -webkit-animation-delay: 3.0s;
          animation-delay: 3.0s;
}

.content__mobile .content__animation .content__all span:nth-child(4) {
  top: -10%;
  left: 90%;
  font-size: 3rem;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

.content__mobile .content__animation .content__all span:nth-child(5) {
  top: -10%;
  left: 42%;
  font-size: 2rem;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.content__mobile .content__animation .content__all span:nth-child(6) {
  top: -10%;
  left: 55%;
  font-size: 2rem;
  -webkit-animation-delay: 7.5s;
          animation-delay: 7.5s;
}

.content__mobile .content__animation .content__all span:nth-child(7) {
  top: -10%;
  left: 13%;
  font-size: 3rem;
  -webkit-animation-delay: 9.0s;
          animation-delay: 9.0s;
}

.content__mobile .content__animation .content__all span:nth-child(8) {
  top: -10%;
  left: 80%;
  font-size: 2rem;
  -webkit-animation-delay: 10.5s;
          animation-delay: 10.5s;
}

@-webkit-keyframes contentAnimationNumber {
  0% {
  }
  100% {
    top: 100%;
  }
}

@keyframes contentAnimationNumber {
  0% {
  }
  100% {
    top: 100%;
  }
}

.content__desktop {
  display: none;
  position: relative;
  width: 100%;
  height: 90%;
  background-image: url("../images/index-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.content__desktop .content__background-shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.content__desktop .content__animation {
  height: 100%;
  width: 100%;
}

.content__desktop .content__animation .content__left span {
  display: block;
  color: green;
  position: absolute;
  -webkit-animation: contentAnimationNumber 12s linear infinite;
          animation: contentAnimationNumber 12s linear infinite;
}

.content__desktop .content__animation .content__left span:nth-child(1) {
  top: -10%;
  left: 5%;
  font-size: 3rem;
}

.content__desktop .content__animation .content__left span:nth-child(2) {
  top: -10%;
  left: 12%;
  font-size: 2rem;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.content__desktop .content__animation .content__left span:nth-child(3) {
  top: -10%;
  left: 20%;
  font-size: 4rem;
  -webkit-animation-delay: 3.0s;
          animation-delay: 3.0s;
}

.content__desktop .content__animation .content__left span:nth-child(4) {
  top: -10%;
  left: 2%;
  font-size: 4rem;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

.content__desktop .content__animation .content__left span:nth-child(5) {
  top: -10%;
  left: 22%;
  font-size: 2rem;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.content__desktop .content__animation .content__left span:nth-child(6) {
  top: -10%;
  left: 5%;
  font-size: 2rem;
  -webkit-animation-delay: 7.5s;
          animation-delay: 7.5s;
}

.content__desktop .content__animation .content__left span:nth-child(7) {
  top: -10%;
  left: 17%;
  font-size: 3rem;
  -webkit-animation-delay: 9.0s;
          animation-delay: 9.0s;
}

.content__desktop .content__animation .content__right span {
  display: block;
  color: green;
  position: absolute;
  -webkit-animation: contentAnimationNumber 12s linear infinite;
          animation: contentAnimationNumber 12s linear infinite;
}

.content__desktop .content__animation .content__right span:nth-child(1) {
  top: -20%;
  right: 5%;
  font-size: 3rem;
}

.content__desktop .content__animation .content__right span:nth-child(2) {
  top: -20%;
  right: 12%;
  font-size: 2rem;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.content__desktop .content__animation .content__right span:nth-child(3) {
  top: -20%;
  right: 20%;
  font-size: 4rem;
  -webkit-animation-delay: 3.0s;
          animation-delay: 3.0s;
}

.content__desktop .content__animation .content__right span:nth-child(4) {
  top: -20%;
  right: 2%;
  font-size: 4rem;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

.content__desktop .content__animation .content__right span:nth-child(5) {
  top: -20%;
  right: 22%;
  font-size: 2rem;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.content__desktop .content__animation .content__right span:nth-child(6) {
  top: -20%;
  right: 5%;
  font-size: 2rem;
  -webkit-animation-delay: 7.5s;
          animation-delay: 7.5s;
}

.content__desktop .content__animation .content__right span:nth-child(7) {
  top: -20%;
  right: 17%;
  font-size: 3rem;
  -webkit-animation-delay: 9.0s;
          animation-delay: 9.0s;
}

@keyframes contentAnimationNumber {
  0% {
  }
  100% {
    top: 100%;
  }
}

.content__desktop .content__board {
  position: absolute;
  height: 30%;
  width: 500px;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(0, 130, 0, 0.3);
  -webkit-box-shadow: 0px 0px 10px 2px #6d6a6a;
          box-shadow: 0px 0px 10px 2px #6d6a6a;
  border-radius: 2%;
  z-index: 1;
  padding: 20px;
  font-size: 1rem;
  color: #fff;
}

.content__desktop .content__board .board__text {
  display: inline;
  font-family: 'Source Code Pro', monospace;
}

.content__desktop .content__board .board__cursor {
  opacity: 0;
}

.content__desktop .content__board .board__cursor.active {
  opacity: 1;
}

.footer {
  height: 6%;
  width: 100%;
  position: absolute;
  left: 0%;
  bottom: 0%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__text {
  font-size: 0.8rem;
  color: #a8a4a4;
  width: 60%;
  text-align: center;
}

.footer .footer__icon {
  font-size: 1.1rem;
  color: #a8a4a4;
  margin-left: 3%;
}

@media only screen and (min-width: 768px) {
  header.mobile {
    display: none;
  }
  header.desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header.desktop .menu__list {
    width: 70%;
  }
  .content__mobile {
    display: none;
  }
  .content__desktop {
    display: block;
  }
  .content__desktop .content__board {
    height: 40%;
  }
  .footer .footer__text {
    width: 20%;
    font-size: 1rem;
  }
  .footer .footer__icon {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 1200px) {
  header.desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header.desktop .menu__list {
    width: 50%;
  }
  header.desktop .menu__item {
    padding: 10px;
  }
  header.desktop .menu__link {
    font-size: 1.2rem;
  }
  .content__desktop .content__board {
    height: 35%;
  }
}

@media only screen and (min-width: 1500px) {
  header.desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header.desktop .menu__list {
    width: 40%;
  }
  header.desktop .menu__item {
    padding: 10px;
  }
  header.desktop .menu__link {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=index_style.css.map */